.form {
  display: flex;
  flex-direction: column;
  background: #e48f45;
  border-radius: 0 0 8px 8px;
  padding: 10px 12px 0;
  padding-top: 0;
  height: 0;
  transition: all 0.5s ease;
  overflow: hidden;
  margin-bottom: 20px;
}

.open__form {
  padding: 10px 12px;
  height: max-content;
  transition: 1s;
  transition: all 0.5s ease;
}

.input__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px 20px;
  margin-bottom: 20px;
}

.update {
  position: absolute;
  right: -10%;
  background: #ff9800;
  padding: 16px 20px;
  border-radius: 4px 0 0 4px;
  border-left: 4px solid #5f8670;
  transition: all 0.3s ease-in;
}

.update p {
  color: #820300;
  font-weight: 400;
  font-size: 1.125rem;
}
